* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 12px;
    color: #333;
    background: #FFF;
}

a {
    text-decoration: none;
    opacity: 0.8;
    color: #222;
}

a:hover,
a:active {
    opacity: 1;
}

.container {
    margin: auto;
    padding: 24px 0 24px;
    /* width: set in App.tsx */
}

.visualizer {
    position: relative;
    background: #333;
    border: solid #333;
    /* border-width: set in Visualizer.tsx */
    /* width: set in Visualizer.tsx */
    /* height: set in Visualizer.tsx */
}

.visualizer canvas {
    display: block;
    position: relative;
    top: 50%;
    margin: auto;
    transform: perspective(1px) translateY(-50%);
}

.fullscreen-toggle {
    visibility: hidden;
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 5;
    padding: 2px;
    padding-bottom: 0; /* ??? */
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    color: #FFF;
    opacity: 0.3;
}

.fullscreen-toggle:hover {
    opacity: 0.8;
}

.visualizer:hover .fullscreen-toggle {
    visibility: visible;
}

.seek-bar img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.track-table {
    width: 100%;
    border-collapse: collapse;
}

.track-table img {
    display: block;
}

.track-table tr {
    border-top: 1px solid #EEE;
}

.track-table tr:last-child {
    border-bottom: 1px solid #EEE;
}

.track-table td {
    padding: 6px 4px;
    vertical-align: middle;
}

.track-table .thumb {
    width: 42px;
}

.track-table .title a:first-child {
    /* artist link */
    color: #777;
}

.track-table .duration {
    text-align: right;
}

.track-table .duration a {
    display: inline-block;
    padding: 12px 0;
}

.track-table .duration .material-icons {
    display: inline;
    vertical-align: middle;
    line-height: 12px;
    font-size: 18px;
    position: relative;
    top: -1px; /* hacks */
}

.url-loader {
    height: 24px;
    margin-top: 12px;
    position: relative;
    text-align: center;
}

.url-loader input,
.url-loader button {
    display: block;
    position: absolute;
    top: 0;
    height: 30px;
    border: 1px solid #DDD;
    background: white;
    outline: none;
}

.url-loader input {
    left: 0;
    width: calc(100% - 74px); /* -1px for overlap */
    line-height: 30px;
    padding: 0 8px;
}

.url-loader button {
    right: 0;
    width: 75px;
    line-height: 28px;
    cursor: pointer;
    background: #FAFAFA;
}

.url-loader input:hover,
.url-loader input:focus,
.url-loader button:hover,
.url-loader button:focus {
    border-color: #BBB;
    z-index: 5;
}

.url-loader button:hover,
.url-loader button:focus {
    background: #EFEFEF;
}

.footer {
    text-align: center;
    margin-top: 72px;
    font-size: 10px;
}

.footer a {
    margin: 0 12px;
}

/* spinner via https://stackoverflow.com/a/21320622/3717556 */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.material-icons {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
